* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.tablo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

.title {
  font-size: 60px;
  text-align: center;
  padding-bottom: 20px;
}

.timer{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}

#timer-label {
  padding-bottom: 20px;
  padding-top: 10px;
}

#time-left {
  font-size: 200px;
  padding-bottom: 10px;
}

.length-control {
  text-align: center;
}

#break-label, #session-label {
  padding: 80px 20px 20px 20px;
}


.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.time-controler {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.red {
  color: rgb(136, 5, 5);
}

.black {
  color:black;
}

#break-label, #session-label, #break-length, #session-length {
  font-size: 40px;
}

.label {
  font-size: 60px;
}

i {
  font-size: 50px;
}

#break-length, #session-length {
  font-size: 70px;
}